<!DOCTYPE html>
<html>
    <head>
        <title>JAFAR</title>
        <meta charset="UTF-8">
        <link href="styles.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/jpg" href="images/JAFAR-favicon.ico"/>
        <link rel="icon" type="image/png" href="images/JAFAR-favicon.png"/>
		<!--<link rel="icon" type="image/png" href="https://example.com/images/JAFAR-favicon.png"/>-->

        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    </head>
    <body>
		<div id="topline"></div>
    	<div id="header">
    		<div class="container">
    			<div class="grid">
	    			<div class="col-1">
	    				<img src="images/JAFAR-logotype.png" width="300">
	    			</div>
	    			<div class="col-2">
	    				<ul>
	    					<li><a href="https://confluence.profusion.com/x/XgB0Aw" target="_blank">Docs</a></li>
	    					<li><a href="mailto:jackp@profusion.com">Feedback</a></li>
	    					<li><a href="#" target="_blank">Ruleset</a></li>
	    				</ul>
	    			</div>
	    		</div>
    		</div>
    	</div>
    	

    	<div id="main">
    		<div class="container">
    			
	    			<div class="grid">
		    			<div class="col-1">
		    				<h2>About JAFAR rulesets</h2>
	    					<p style="font-size: 16px; margin-top:0px; margin-bottom: 30PX;"><STRONG>JAFAR</STRONG> uses prewritten rules in order to find and replace items in your template. This is a list of every snippet that JAFAR will look for, ordered by client.</p>

	    					
	    					
		    			</div>
		    			<div class="col-2" style="">

		    				<div class="formline" style="padding-bottom: 40px; padding-right: 30px;">
		    					<h3 style="margin-bottom: 2px;">Generic</h3>
		    					<table class="rules-table" border="1" cellpadding="5" cellspacing="0">
			    					<tr>
			    						<th width="20%">Name
			    						</th>
			    						<th width="40%">Looks for:
			    						</th>
			    						<th width="40%">Replaces with:
			    						</th>
			    					</tr>
			    					<tr>
			    						<td>Divider
			    						</td>
			    						<td><xmp><hr style="margin: 0; border-top: 1px solid #d7d8d6;"/></xmp>
			    						</td>
			    						<td><xmp><table cellspacing='0' cellpadding='0' width='100%' border='0' bgcolor='#d7d8d6'><tr><td style='font-size:1px; line-height: 1px;' height='1'>&nbsp;</td></tr></table></xmp>
			    						</td>
			    					</tr>
			    					<tr>
			    						<td>Salutation
			    						</td>
			    						<td>%%indv_titl_txt%% %%indv_last_name%%
			    						</td>
			    						<td><%= recipient.hsbcSalutation %>
			    						</td>
			    					</tr>
			    				</table>


			    				
			    				<h3 style="margin-bottom: 2px;">HSBC Expat</h3>
			    				<table class="rules-table" border="1" cellpadding="5" cellspacing="0">
			    					<tr>
			    						<th width="20%">Name
			    						</th>
			    						<th width="40%">Looks for:
			    						</th>
			    						<th width="40%">Replaces with:
			    						</th>
			    					</tr>
			    					<tr>
			    						<td>Mirror Link
			    						</td>
			    						<td>%%=v(@vawpURL)=%%
			    						</td>
			    						<td><%@ include view='expatMirrorLINKONLY' %>
			    						</td>
			    					</tr>
			    					<tr>
			    						<td>Salutation
			    						</td>
			    						<td>%%indv_titl_txt%% %%indv_last_name%%
			    						</td>
			    						<td><%= recipient.hsbcSalutation %>
			    						</td>
			    					</tr>
			    					<tr>
			    						<td>KD Tag
			    						</td>
			    						<td><xmp></body></xmp>
			    						</td>
			    						<td><xmp><%@ include view='KickDynamicTag' %></body></xmp>
			    						</td>
			    						
			    					</tr>
			    					<tr>
			    						<td>Preference Link
			    						</td>
			    						<td>https://hsss.hsbc.co.uk/offshoreform/ecpp/contact_prefs.jsp?
			    						</td>
			    						<td><%= recipient.hsbcFootnote %>
			    						</td>
			    					</tr>
			    					<tr>
			    						<td>footer links for HK
			    						</td>
			    						<td><xmp><th class="footer__bottom-links-container footer__bottom-links-container--center" style="padding: 20px 10px 0; display: inline-block;"><a href="https://www.expat.hsbc.com/contact/" aria-label="Contact us Contact us Opens in new window" style="color: #333; text-decoration: none;"><span class="footer__bottom-links-text" style="color: #333; text-decoration: underline; font-weight: 400;">Contact us</span></a></th><th class="footer__bottom-links-container footer__bottom-links-container--center" style="padding: 20px 10px 0; display: inline-block;"><a href="https://www.expat.hsbc.com/help/security/" aria-label="Security centre Security centre Opens in new window" style="color: #333; text-decoration: none;"><span class="footer__bottom-links-text" style="color: #333; text-decoration: underline; font-weight: 400;">Security centre</span></a></th></xmp>
			    						</td>
			    						<td><xmp><% if ((recipient.hsbcResidency != "HONG KONG") && (recipient.hsbcResidency != "HK")) { %><th class="footer__bottom-links-container footer__bottom-links-container--center" style="padding: 20px 10px 0; display: inline-block;"><a href="https://www.expat.hsbc.com/contact/" aria-label="Contact us Contact us Opens in new window" style="color: #333; text-decoration: none;"><span class="footer__bottom-links-text" style="color: #333; text-decoration: underline; font-weight: 400;">Contact&nbsp;us</span></a></th><th class="footer__bottom-links-container footer__bottom-links-container--center" style="padding: 20px 10px 0; display: inline-block;"><a href="https://www.expat.hsbc.com/help/security/" aria-label="Security centre Security centre Opens in new window" style="color: #333; text-decoration: none;"><span class="footer__bottom-links-text" style="color: #333; text-decoration: underline; font-weight: 400;">Security&nbsp;centre</span></a></th><% } %></xmp>
			    						</td>
			    						
			    					</tr>
			    					<tr>
			    						<td>cookie link
			    						</td>
			    						<td><xmp><a href="https://www.expat.hsbc.com/cookie-notice/" style="color: #333; text-decoration: underline;">Cookie Policy</a>.</xmp>
			    						</td>
			    						<td><xmp><% if ((recipient.hsbcResidency != "HONG KONG") && (recipient.hsbcResidency != "HK")) { %><a href="https://www.expat.hsbc.com/cookie-notice/" style="color: #333; text-decoration: underline;">Cookie Policy</a>.<%}else{%>Cookie Policy at expa&#8205;t.h&#8205;sb&#8205;c.c&#8205;om/cookie-notice/<%}%></xmp>
			    						</td>
			    						
			    					</tr>
			    					<tr>
			    						<td>security link
			    						</td>
			    						<td><xmp><a href="https://www.expat.hsbc.com/help/security/" style="color: #333; text-decoration: underline;">Security Centre</a>.</xmp>
			    						</td>
			    						<td><xmp><% if ((recipient.hsbcResidency == "HONG KONG") || (recipient.hsbcResidency == "HK")) { %>Security Centre at expa&#8205;t.h&#8205;sb&#8205;c.c&#8205;om/help/security/<% } else { %><a href="https://www.expat.hsbc.com/help/security/" style="color: #333; text-decoration: underline;">Security Centre</a>.<% } %></xmp>
			    						</td>
			    						
			    					</tr>
			    				</table>
	    					</div>

		    			</div>
		    			<div class="col-3">
		    				
		    				<div class="formline" id="sb-section" style="padding-bottom: 40px;">
			    				
	    					</div>
	    					

	    					
	    					<div class="formline">
		    					
	    					</div>
	    					
		    			</div>
		    		</div>
		    	
    		</div>
    	</div>
    	<div id="footer">
    	<span>JAFAR</span>
    	<span>PROFUSION</span>
    	<span>2021</span>
    	</div>
    </body>


</html>