// JAFAR - Stylesheet
 
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,400;0,500;0,700;1,300&display=swap');
*{box-sizing: border-box;}
body{margin: 0; background-color: #333333;}




body{ 
	box-sizing: border-box; 
	font-family: "Figtree", sans-serif;
	background-image: url('images/JAFAR_bg.png');
 	background-size:contain;
	background-position: bottom right;
	background-repeat: no-repeat;
	height: 100vh;
}
header{
	background-color: white;
	height: 12vh;
	padding: 0 20%;

 
	vertical-align: middle;
}
header table{
	height: 12vh;
}
header img{
	height: 10vh;
	width: auto;
	display: block;
	margin: 1vh 0;
}
header li{
	text-align: right;
	list-style-type: none;
}
header li a{
	color: #333;
	text-decoration: none;
}
header li a:hover{
	color: #d14343;;
	border-bottom: 2px solid #d14343;
}
#panelholder{
	width: 60%;
	height: 75vh;
	margin: 2% 20% 2vh 20%;
	overflow: hidden;
	border:2px solid white;
	position: relative;
	border-radius: 15px;
	background-color: white;
	-webkit-box-shadow: 0px 0px 46px 2px rgba(0,0,0,0.29);
	-moz-box-shadow: 0px 0px 46px 2px rgba(0,0,0,0.29);
	box-shadow: 0px 0px 46px 2px rgba(0,0,0,0.29);
}

.panel{
	box-sizing: border-box;
	color: #333;
	height: calc(75vh - 20px);
 
	float: left;
	display: inline-block;
	position: relative;
	border-right:1px solid white;
	overflow-y: scroll;
}

.panel h3{
	padding:  12px 2% 10px 2%; 
	display: block;
}
.panel > *:not(h3){
	margin: 20px 2%; 
	display: block;
}

#scroller{ left: 0; display: block; position: relative; transition: all 0.5s ease; }

#progressbar{
	position: absolute; 
	bottom: 0; 
	height: 15px;
	width: 100%;
	background-color: #d14343;
}
#pb-inner{
	
	background-color: #ab3a3a;
	transition: all 1s ease;
	height: 15px;
}

.nextButton{
	padding: 10px; 
	background-color: #f7bc2f; 
	display: inline-block; 
	color: #333333; 
	font-weight: bold;
 
	position: absolute;
	bottom: 30px;
	right:40px;
	cursor: pointer;
	z-index: 100;
	border-radius: 10px;
}

.backButton{
	padding: 10px; 
	background-color: #333; 
	display: inline-block; 
	color: white; 
	font-weight: bold;
 
	position: absolute;
	bottom: 30px;
	left:20px;
	cursor: pointer;
	z-index: 100;
	border-radius: 10px;
}


#clientSelect{
	position: absolute;
	right: 0PX;
	top: 8%;
}

#addAnother{ color: #333; float:right; font-weight:bold; font-size:20px; display: block !important; width: 30px; cursor: pointer;height: 30px; margin-top:20px; text-align: center; line-height: 28px; border: 2px solid #333; border-radius: 5px; position: fixed; right:20px; top: 50%;}
#addAnother:hover{ background-color: 333333; color: #333333; }


#sb-section {display: none;}


input[type="text"], select{ background-color: #333; border:1px solid white; border-radius: 0; color: white; }

hr{border-color: white;}

xmp{white-space: pre-wrap}
.rules-table{border: 1px solid white; width: 100%; text-align: center; margin-top: 20px; table-layout: fixed; margin-bottom:30px; }

h1, h2, h3{ color: white; display: inline-block; background-color: #d14343; margin-top: 0; padding: 0px 10px}

/* FORM STYLES */
.formline{ padding-bottom: 20px; padding-left: 30px;}
input{ padding: 10px 20px; }
.options{ display: none; }
select{ padding: 10px 20px; font-size: 16px; }
textarea {  color: #333333; padding: 1%; width: 94%; height: 40vh; border-radius: 15px; border: 0px solid #666; font-size: 14PX;}









#tracking
{
    border: 1px solid white;
    padding: 10px 20px;
    display:none;
    margin: 0px 20px 20px;
}
#addSegment{ cursor: pointer; }
input[type=submit]{
	background-color: #f7bc2f;
	border: none;
	font-size: 18px;
	width: 200px;
	cursor: pointer;
}


#addLine{ display: none; }

#footer{
	padding: 30px;
	border-top: 1px solid white;
	color: white;
	margin-top: 30px;
	font-family: "Figtree", sans-serif;
	text-align: right;
	background-color: #d14343;
}

#footer span{ background-color: #333333; padding: 10px; margin: 0px 5px; font-size: 12PX; letter-spacing: 1.5PX; font-weight: bold;}



#main #errorLog{ font-size: 12px !important; color: white !important; }
#download{ padding: 10px; background: #f7bc2f; float:right; margin-right: 20px; color: #111; text-decoration: none; margin-top:-10px;}
#download:hover{ background: #333; color: #f7bc2f; border: 1px solid #f7bc2f; }


@media screen and (max-width:800px){
	#header .grid, #main .grid{ display: block; }
	.col-1, .col-2, .col-3{ display: block; width: 100%; }
	#header .col-2{ text-align: center; }
	#header .col-1{ padding-right: 0; text-align: center; }
	#header .col-1 img{width: 80%;}
}